/* oh boy. */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Nanum+Gothic+Coding&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* ---------------- DEFAULT STUFF ---------------- */
/* I like this font family */
body {
    font-family: 'Raleway';
    color: white;
    background-color: black;
}

p  { margin-block: 0.5rem 1rem; }

h1 {
    font-family: 'Domine';
    margin: 0;
    font-weight: 600;
}

h2 {
    font-family: 'Poppins';
    font-size: x-large;
    margin-block: 1.75rem 1rem; font-weight: 400;
}

h5 { font-family: 'Poppins'; }

.subtitle {
    font-family: 'Nanum Gothic Coding';
    font-size: 0.9rem;
    margin-block: 0rem 0.5rem;
}

.icon {
    height: 1.25rem;
    fill: white;
    color: white;
}

/* Now when you highlight text, it looks green */
*::selection { background: #ffaa16; }
/* ----------------------------------------------- */


/* ------------------ ANIMATION ------------------ */
@keyframes blur-in {
    0%, 25% {
        transform: translateY(50%) scale(0.5);
        filter: blur(30px);
        opacity: 0%;
    }
    70% {
        transform: translateY(-5%) scale(1.02);
        filter: none;
        opacity: 100%;
    }
}

/* Utility tag */
.blur-animation { animation: blur-in 2s 0s; }
/* ----------------------------------------------- */


/* ---------------- HERO SECTION ----------------- */
nav {
    background: linear-gradient(rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}
.navbar-nav {
    margin-left: auto;
}
.navbar-toggler, .navbar-toggler:active {
    border: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}

.logo {
    width: clamp(20rem, 35rem, 70vw);
    position: absolute;
    bottom: 10vh;
    transition-duration: 1000ms;
}
/* ----------------------------------------------- */


/* ---------------- ABOUT SECTION ---------------- */
.poster {
    width: 100%;
    border-radius: 6px;
    transition-duration: 1000ms;
    margin-bottom: 0.75rem;
}
.poster:hover { transform: scale(1.05); }

.watchlink { margin-block: 10px; }
.watchlink:hover { box-shadow: inset 0px 0px 11px 10px rgba(0,0,0, 0.3); }
.watchlink:active {
    filter: brightness(0.7);
    transform: translateY(2px);
}
/* Set colors for different streaming services */
#netflix.watchlink { background-color: #E50914; color: white;}

.star-rating {
    color: rgb(255, 222, 121); 
    font-size: 1.25 rem;
    text-align: center;
}
/* ----------------------------------------------- */


/* -------------- CHARACTER SECTION -------------- */
.character-grid {
    display: grid;
    justify-content: center;
    gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(25vh, 35vh));
}

.character-card {
    background: white;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 0.25em 0.25em 0.50em 0.25em;
    color: black;
    transition-duration: 300ms;
}

.character-card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0px 0px 10px 10px #00000080;
    z-index: 1;
}

.character-card > img {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.character-card >
img:hover {
    transform: scale(1);
    box-shadow: none;
}

.character-card > h5,
.character-card > p {
    margin-block: 0px;
    color: black;
}

footer {
    background-color: black;
    color: white;
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
}
/* ----------------------------------------------- */


/* Page-specific styling */
/* ------------------ HOME PAGE ------------------ */
#home > .hero {
    background-color: rgb(255, 222, 121);
    background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%),
    url(images/home-bg.gif);
}

#home.info {
    background-color: black;
    color: white;
    padding-block: 5vh;
}

#home > .hero > .logo {
    width: 50vw;
    position: absolute;
    transition-duration: 1000ms;
    fill: white;
}

.poster-sm {
    width: 80%;
    border-radius: 6px;
    transition-duration: 1000ms;
    margin-bottom: 0.75rem;
}
/* ----------------------------------------------- */


/* ------------- MY NEIGHBOR TOTORO -------------- */
#totoro > .hero {
    background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%),
    url(images/myneighbortotoro-bg.gif);
}

#totoro.poster:hover { box-shadow: 0px 0px 30px 20px#54946c52; }
/* ----------------------------------------------- */

/* ------------ HOWL'S MOVING CASTLE ------------- */
#howl > .hero {
    background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%),
    url(images/howlsmovingcastle-bg.gif);
}

#howl.poster:hover { box-shadow: 0px 0px 30px 20px#3e5ea252; }
/* ----------------------------------------------- */

/* ---------- KIKI'S DELIVERY SERVICE ------------ */
#kiki > .hero {
    background: linear-gradient(rgba(0,0,0,0) 20%, rgba(0,0,0,1) 100%),
    url(images/kikisdeliveryservice-bg.gif);
}

#kiki.poster:hover { box-shadow: 0px 0px 30px 20px#a23e3e52; }
/* ----------------------------------------------- */